/*div:hover{
    background-color: blue;
    margin: 5px;
}
div::before{
    content: "age bole dilam";
    color: blueviolet;
}
div::after{
    content: sobar kache;
    font-size: 40px;
}*/
/*iv{
    border: 1px dotted;
    width:200px;
}*/
#boy{
    position: sticky ;
    top:140px;
    z-index: 3;

}
#ring{
    position:sticky ;
    top:160px;
    z-index: 2;
}
#water{
    position:fixed;
    top:570px;
    z-index: 1;

}
.container{
    /*width: 200px;
    height: 300px;
    border: 1px dotted blueviolet;*/
}
.dadavai{
    width:200px;
    height: 300px;
   border: 1px dotted black;

}
